.loadbar {
	display: block;
  	border: 7px solid rgba(255, 255, 255, .5);
  	border-left-color: rgba(255, 255, 255, .2);
  	border-radius: 50%;
  	width: 60px;
  	height: 60px;
  	animation: donut-spin 1.2s linear infinite;
}

@keyframes donut-spin {
  	0% {
    	transform: rotate(0deg);
  	}
  	100% {
    	transform: rotate(360deg);
  	}
}
